source ~/.vimrc

set clipboard+=ideaput
set easymotion
set ideajoin
set idearefactormode=keep

set surround
set multiple-cursors
set ReplaceWithRegister

set highlightedyank
let g:highlightedyank_highlight_duration = "1000"

set argtextobj
let g:argtextobj_pairs="[:],(:),<:>,::,"

"Press o to open the file in a new buffer or open/close directory.
"Press t to open the file in a new tab.
"Press i to open the file in a new horizontal split.
"Press s to open the file in a new vertical split.
"Press p to go to parent directory.
"Press r to refresh the current directory.
"Press m to launch NERDTree menu inside Vim.
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

nmap mi <Action>(GotoImplementation)
nmap mt <Action>(GotoTypeDeclaration)
nmap mh <Action>(CallHierarchy)

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

map w [w
map e ]w
map b [b

map H ^
map L $

map <leader>r <Action>(RenameElement)
map <leader>o <Action>(FileStructurePopup)
map <leader>p <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>b <Action>(Git.Branches)
map <leader>t <Action>(Vcs.UpdateProject)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>d <Action>(QuickJavaDoc)
map <leader>e <Action>(ShowErrorDescription)

nnoremap ,t :action ActivateDebugToolWindow<CR>
nnoremap ,d :action ChooseDebugConfiguration<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,r :action RunClass<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,k :action Stop<CR>

" moving
map <TAB> <Action>(PreviousTab)
map <s-TAB> <Action>(NextTab)
map <s-Space> <Action>(GotoNextError)
map <c-TAB> <Action>(NextSplitter)

map <c-\> <Action>(SplitVertically)
map <c--> <Action>(SplitHorizontally)
map <c-=> <Action>(UnsplitAll)

nnoremap <c-x> :action HideAllWindows<CR>
map <c-w>m <Action>(MaximizeEditorInSplit)

map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)

map mc <Action>(CollapseRegion)
map mo <Action>(ExpandRegion)
map <c-m>c <Action>(CollapseAllRegions)
map <c-m>o <Action>(ExpandAllRegions)

map f <Plug>(easymotion-s)
map F <Action>(AceDeclarationAction)

nnoremap == :action ReformatCode <CR>

map <c-n> :nohlsearch<CR>
